ClienteRompecabezasFei/RompecabezasFei/Connected Services/ServicioRompecabezasFei/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Logica" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Logica" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCuentaJugador">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CuentaJugador" nillable="true" type="tns:CuentaJugador" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCuentaJugador" nillable="true" type="tns:ArrayOfCuentaJugador" />
  <xs:complexType name="CuentaJugador">
    <xs:sequence>
      <xs:element minOccurs="0" name="Contrasena" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EsInvitado" type="xs:boolean" />
      <xs:element minOccurs="0" name="EstadoConectividad" type="tns:ConectividadJugador" />
      <xs:element minOccurs="0" name="IdJugador" type="xs:int" />
      <xs:element minOccurs="0" name="NombreJugador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroAvatar" type="xs:int" />
      <xs:element minOccurs="0" name="Puntaje" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CuentaJugador" nillable="true" type="tns:CuentaJugador" />
  <xs:simpleType name="ConectividadJugador">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Desconectado" />
      <xs:enumeration value="Disponible" />
      <xs:enumeration value="NoDisponible" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ConectividadJugador" nillable="true" type="tns:ConectividadJugador" />
  <xs:complexType name="Tablero">
    <xs:sequence>
      <xs:element minOccurs="0" name="NumeroImagenRompecabezas" type="xs:int" />
      <xs:element minOccurs="0" name="TotalColumnas" type="xs:int" />
      <xs:element minOccurs="0" name="TotalFilas" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tablero" nillable="true" type="tns:Tablero" />
</xs:schema>