ClienteRompecabezasFei/RompecabezasFei/Connected Services/ServicioRompecabezasFei/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8088/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Logica" />
  <xs:element name="Registrar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Logica" minOccurs="0" name="cuentaJugador" nillable="true" type="q1:CuentaJugador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegistrarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExisteCorreoElectronico">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="correoElectronico" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExisteCorreoElectronicoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExisteCorreoElectronicoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExisteNombreJugador">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreJugador" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExisteNombreJugadorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExisteNombreJugadorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IniciarSesion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreJugador" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contrasena" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IniciarSesionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Logica" minOccurs="0" name="IniciarSesionResult" nillable="true" type="q2:CuentaJugador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarMensajeCorreo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="encabezado" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="correoDestino" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="asunto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarMensajeCorreoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EnviarMensajeCorreoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerNumeroPartidasJugadas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerNumeroPartidasJugadasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerNumeroPartidasJugadasResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerNumeroPartidasGanadas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerNumeroPartidasGanadasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerNumeroPartidasGanadasResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarInformacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Logica" minOccurs="0" name="cuentaJugador" nillable="true" type="q3:CuentaJugador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarInformacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarInformacionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarContrasena">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Logica" minOccurs="0" name="cuentaJugador" nillable="true" type="q4:CuentaJugador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarContrasenaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarContrasenaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RestablecerContrasena">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="correo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contrasena" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RestablecerContrasenaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RestablecerContrasenaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NuevaSala">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreAnfitrion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idSala" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NuevaSalaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConectarCuentaJugadorASala">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreJugador" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idSala" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mensajeBienvenida" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConectarCuentaJugadorASalaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DesconectarCuentaJugadorDeSala">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreJugador" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idSala" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mensajeDespedida" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DesconectarCuentaJugadorDeSalaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarMensajeDeSala">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreJugador" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idSala" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerarCodigoParaNuevaSala">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerarCodigoParaNuevaSalaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GenerarCodigoParaNuevaSalaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExisteSalaDisponible">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idSala" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExisteSalaDisponibleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExisteSalaDisponibleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MensajeDeSalaCallBack">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarSolicitudDeAmistad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreJugadorOrigen" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombreJugadorDestino" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarSolicitudDeAmistadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EnviarSolicitudDeAmistadResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerJugadoresConSolicitudDeAmistadSinAceptar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreJugador" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerJugadoresConSolicitudDeAmistadSinAceptarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Logica" minOccurs="0" name="ObtenerJugadoresConSolicitudDeAmistadSinAceptarResult" nillable="true" type="q5:ArrayOfCuentaJugador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerAmigosDeJugador">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreJugador" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerAmigosDeJugadorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Logica" minOccurs="0" name="ObtenerAmigosDeJugadorResult" nillable="true" type="q6:ArrayOfCuentaJugador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AceptarSolicitudDeAmistad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreJugadorOrigen" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombreJugadorDestino" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AceptarSolicitudDeAmistadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AceptarSolicitudDeAmistadResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RechazarSolicitudDeAmistad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreJugadorOrigen" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombreJugadorDestino" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RechazarSolicitudDeAmistadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RechazarSolicitudDeAmistadResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExisteSolicitudDeAmistadSinAceptar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreJugadorOrigen" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombreJugadorDestino" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExisteSolicitudDeAmistadSinAceptarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExisteSolicitudDeAmistadSinAceptarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExisteAmistadConJugador">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreJugador1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombreJugador2" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExisteAmistadConJugadorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExisteAmistadConJugadorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarNuevaAmistadEntreJugadores">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreJugador1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombreJugador2" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarNuevaAmistadEntreJugadoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegistrarNuevaAmistadEntreJugadoresResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarAmistadEntreJugadores">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreJugador1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombreJugador2" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarAmistadEntreJugadoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarAmistadEntreJugadoresResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>