ClienteRompecabezasFei/RompecabezasFei/Connected Services/ServicioRompecabezasFei/ServicioRompecabezasFei.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ServicioRompecabezasFei" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IServicioAmistades_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_IServicioJugador_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_IServicioPartida_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_IServicioSala_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8088/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8088/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8088/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Logica" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioAmistades_ObtenerJugadoresConSolicitudPendiente_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerJugadoresConSolicitudPendiente" />
  </wsdl:message>
  <wsdl:message name="IServicioAmistades_ObtenerJugadoresConSolicitudPendiente_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerJugadoresConSolicitudPendienteResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioAmistades_ObtenerAmigosDeJugador_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerAmigosDeJugador" />
  </wsdl:message>
  <wsdl:message name="IServicioAmistades_ObtenerAmigosDeJugador_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerAmigosDeJugadorResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioAmistades_EnviarSolicitudDeAmistad_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarSolicitudDeAmistad" />
  </wsdl:message>
  <wsdl:message name="IServicioAmistades_EnviarSolicitudDeAmistad_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarSolicitudDeAmistadResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioAmistades_AceptarSolicitudDeAmistad_InputMessage">
    <wsdl:part name="parameters" element="tns:AceptarSolicitudDeAmistad" />
  </wsdl:message>
  <wsdl:message name="IServicioAmistades_AceptarSolicitudDeAmistad_OutputMessage">
    <wsdl:part name="parameters" element="tns:AceptarSolicitudDeAmistadResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioAmistades_RechazarSolicitudDeAmistad_InputMessage">
    <wsdl:part name="parameters" element="tns:RechazarSolicitudDeAmistad" />
  </wsdl:message>
  <wsdl:message name="IServicioAmistades_RechazarSolicitudDeAmistad_OutputMessage">
    <wsdl:part name="parameters" element="tns:RechazarSolicitudDeAmistadResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioAmistades_ExisteSolicitudDeAmistad_InputMessage">
    <wsdl:part name="parameters" element="tns:ExisteSolicitudDeAmistad" />
  </wsdl:message>
  <wsdl:message name="IServicioAmistades_ExisteSolicitudDeAmistad_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExisteSolicitudDeAmistadResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioAmistades_ExisteAmistadConJugador_InputMessage">
    <wsdl:part name="parameters" element="tns:ExisteAmistadConJugador" />
  </wsdl:message>
  <wsdl:message name="IServicioAmistades_ExisteAmistadConJugador_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExisteAmistadConJugadorResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioAmistades_EliminarAmistadEntreJugadores_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarAmistadEntreJugadores" />
  </wsdl:message>
  <wsdl:message name="IServicioAmistades_EliminarAmistadEntreJugadores_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarAmistadEntreJugadoresResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioAmistades_SuscribirJugadorANotificacionesAmistades_InputMessage">
    <wsdl:part name="parameters" element="tns:SuscribirJugadorANotificacionesAmistades" />
  </wsdl:message>
  <wsdl:message name="IServicioAmistades_SuscribirJugadorANotificacionesAmistades_OutputMessage">
    <wsdl:part name="parameters" element="tns:SuscribirJugadorANotificacionesAmistadesResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioAmistades_DesuscribirJugadorDeNotificacionesAmistades_InputMessage">
    <wsdl:part name="parameters" element="tns:DesuscribirJugadorDeNotificacionesAmistades" />
  </wsdl:message>
  <wsdl:message name="IServicioAmistades_DesuscribirJugadorDeNotificacionesAmistades_OutputMessage">
    <wsdl:part name="parameters" element="tns:DesuscribirJugadorDeNotificacionesAmistadesResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioAmistades_EsJugadorSuscritoANotififacionesDeAmistades_InputMessage">
    <wsdl:part name="parameters" element="tns:EsJugadorSuscritoANotififacionesDeAmistades" />
  </wsdl:message>
  <wsdl:message name="IServicioAmistades_EsJugadorSuscritoANotififacionesDeAmistades_OutputMessage">
    <wsdl:part name="parameters" element="tns:EsJugadorSuscritoANotififacionesDeAmistadesResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioAmistades_NotificarSolicitudAmistadEnviada_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotificarSolicitudAmistadEnviada" />
  </wsdl:message>
  <wsdl:message name="IServicioAmistades_NotificarSolicitudAmistadAceptada_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotificarSolicitudAmistadAceptada" />
  </wsdl:message>
  <wsdl:message name="IServicioAmistades_NotificarAmistadEliminada_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotificarAmistadEliminada" />
  </wsdl:message>
  <wsdl:message name="IServicioAmistades_NotificarEstadoConectividadDeJugador_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotificarEstadoConectividadDeJugador" />
  </wsdl:message>
  <wsdl:message name="IServicioJugador_Registrar_InputMessage">
    <wsdl:part name="parameters" element="tns:Registrar" />
  </wsdl:message>
  <wsdl:message name="IServicioJugador_Registrar_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioJugador_ExisteCorreoElectronico_InputMessage">
    <wsdl:part name="parameters" element="tns:ExisteCorreoElectronico" />
  </wsdl:message>
  <wsdl:message name="IServicioJugador_ExisteCorreoElectronico_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExisteCorreoElectronicoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioJugador_ExisteNombreJugador_InputMessage">
    <wsdl:part name="parameters" element="tns:ExisteNombreJugador" />
  </wsdl:message>
  <wsdl:message name="IServicioJugador_ExisteNombreJugador_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExisteNombreJugadorResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioJugador_IniciarSesion_InputMessage">
    <wsdl:part name="parameters" element="tns:IniciarSesion" />
  </wsdl:message>
  <wsdl:message name="IServicioJugador_IniciarSesion_OutputMessage">
    <wsdl:part name="parameters" element="tns:IniciarSesionResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioJugador_CerrarSesion_InputMessage">
    <wsdl:part name="parameters" element="tns:CerrarSesion" />
  </wsdl:message>
  <wsdl:message name="IServicioJugador_CerrarSesion_OutputMessage">
    <wsdl:part name="parameters" element="tns:CerrarSesionResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioJugador_EnviarMensajeCorreo_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarMensajeCorreo" />
  </wsdl:message>
  <wsdl:message name="IServicioJugador_EnviarMensajeCorreo_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarMensajeCorreoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioJugador_ObtenerNumeroPartidasJugadas_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerNumeroPartidasJugadas" />
  </wsdl:message>
  <wsdl:message name="IServicioJugador_ObtenerNumeroPartidasJugadas_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerNumeroPartidasJugadasResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioJugador_ObtenerNumeroPartidasGanadas_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerNumeroPartidasGanadas" />
  </wsdl:message>
  <wsdl:message name="IServicioJugador_ObtenerNumeroPartidasGanadas_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerNumeroPartidasGanadasResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioJugador_ActualizarInformacion_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarInformacion" />
  </wsdl:message>
  <wsdl:message name="IServicioJugador_ActualizarInformacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarInformacionResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioJugador_ActualizarContrasena_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarContrasena" />
  </wsdl:message>
  <wsdl:message name="IServicioJugador_ActualizarContrasena_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarContrasenaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioPartida_CrearNuevaPartida_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearNuevaPartida" />
  </wsdl:message>
  <wsdl:message name="IServicioPartida_CrearNuevaPartida_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearNuevaPartidaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioPartida_IniciarPartida_InputMessage">
    <wsdl:part name="parameters" element="tns:IniciarPartida" />
  </wsdl:message>
  <wsdl:message name="IServicioPartida_IniciarPartida_OutputMessage">
    <wsdl:part name="parameters" element="tns:IniciarPartidaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioPartida_FinalizarPartida_InputMessage">
    <wsdl:part name="parameters" element="tns:FinalizarPartida" />
  </wsdl:message>
  <wsdl:message name="IServicioPartida_FinalizarPartida_OutputMessage">
    <wsdl:part name="parameters" element="tns:FinalizarPartidaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioPartida_GenerarTablero_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerarTablero" />
  </wsdl:message>
  <wsdl:message name="IServicioPartida_GenerarTablero_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerarTableroResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioPartida_MoverPiezaPosicionX_InputMessage">
    <wsdl:part name="parameters" element="tns:MoverPiezaPosicionX" />
  </wsdl:message>
  <wsdl:message name="IServicioPartida_MoverPiezaPosicionX_OutputMessage">
    <wsdl:part name="parameters" element="tns:MoverPiezaPosicionXResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioPartida_MoverPiezaPosicionY_InputMessage">
    <wsdl:part name="parameters" element="tns:MoverPiezaPosicionY" />
  </wsdl:message>
  <wsdl:message name="IServicioPartida_MoverPiezaPosicionY_OutputMessage">
    <wsdl:part name="parameters" element="tns:MoverPiezaPosicionYResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioPartida_NotificarJugadorPreparado_InputMessage">
    <wsdl:part name="parameters" element="tns:NotificarJugadorPreparado" />
  </wsdl:message>
  <wsdl:message name="IServicioPartida_NotificarJugadorPreparado_OutputMessage">
    <wsdl:part name="parameters" element="tns:NotificarJugadorPreparadoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioPartida_ExpulsarJugadorPartida_InputMessage">
    <wsdl:part name="parameters" element="tns:ExpulsarJugadorPartida" />
  </wsdl:message>
  <wsdl:message name="IServicioPartida_ExpulsarJugadorPartida_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExpulsarJugadorPartidaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioPartida_RefrescarMovimientoPieza_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:RefrescarMovimientoPieza" />
  </wsdl:message>
  <wsdl:message name="IServicioPartida_PosicionarPiezaEnCelda_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:PosicionarPiezaEnCelda" />
  </wsdl:message>
  <wsdl:message name="IServicioSala_CrearNuevaSala_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearNuevaSala" />
  </wsdl:message>
  <wsdl:message name="IServicioSala_CrearNuevaSala_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearNuevaSalaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioSala_ConectarCuentaJugadorASala_InputMessage">
    <wsdl:part name="parameters" element="tns:ConectarCuentaJugadorASala" />
  </wsdl:message>
  <wsdl:message name="IServicioSala_ConectarCuentaJugadorASala_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConectarCuentaJugadorASalaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioSala_DesconectarCuentaJugadorDeSala_InputMessage">
    <wsdl:part name="parameters" element="tns:DesconectarCuentaJugadorDeSala" />
  </wsdl:message>
  <wsdl:message name="IServicioSala_DesconectarCuentaJugadorDeSala_OutputMessage">
    <wsdl:part name="parameters" element="tns:DesconectarCuentaJugadorDeSalaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioSala_ObtenerJugadoresConectadosEnSala_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerJugadoresConectadosEnSala" />
  </wsdl:message>
  <wsdl:message name="IServicioSala_ObtenerJugadoresConectadosEnSala_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerJugadoresConectadosEnSalaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioSala_EnviarMensajeDeSala_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarMensajeDeSala" />
  </wsdl:message>
  <wsdl:message name="IServicioSala_GenerarCodigoParaNuevaSala_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerarCodigoParaNuevaSala" />
  </wsdl:message>
  <wsdl:message name="IServicioSala_GenerarCodigoParaNuevaSala_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerarCodigoParaNuevaSalaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioSala_ExisteSalaDisponible_InputMessage">
    <wsdl:part name="parameters" element="tns:ExisteSalaDisponible" />
  </wsdl:message>
  <wsdl:message name="IServicioSala_ExisteSalaDisponible_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExisteSalaDisponibleResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioSala_MostrarMensajeDeSala_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:MostrarMensajeDeSala" />
  </wsdl:message>
  <wsdl:message name="IServicioSala_NotificarNuevoJugadorConectadoEnSala_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotificarNuevoJugadorConectadoEnSala" />
  </wsdl:message>
  <wsdl:message name="IServicioSala_NotificarJugadorDesconectadoDeSala_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotificarJugadorDesconectadoDeSala" />
  </wsdl:message>
  <wsdl:portType name="IServicioAmistades">
    <wsdl:operation name="ObtenerJugadoresConSolicitudPendiente">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioAmistades/ObtenerJugadoresConSolicitudPendiente" message="tns:IServicioAmistades_ObtenerJugadoresConSolicitudPendiente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioAmistades/ObtenerJugadoresConSolicitudPendienteResponse" message="tns:IServicioAmistades_ObtenerJugadoresConSolicitudPendiente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerAmigosDeJugador">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioAmistades/ObtenerAmigosDeJugador" message="tns:IServicioAmistades_ObtenerAmigosDeJugador_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioAmistades/ObtenerAmigosDeJugadorResponse" message="tns:IServicioAmistades_ObtenerAmigosDeJugador_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviarSolicitudDeAmistad">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioAmistades/EnviarSolicitudDeAmistad" message="tns:IServicioAmistades_EnviarSolicitudDeAmistad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioAmistades/EnviarSolicitudDeAmistadResponse" message="tns:IServicioAmistades_EnviarSolicitudDeAmistad_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AceptarSolicitudDeAmistad">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioAmistades/AceptarSolicitudDeAmistad" message="tns:IServicioAmistades_AceptarSolicitudDeAmistad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioAmistades/AceptarSolicitudDeAmistadResponse" message="tns:IServicioAmistades_AceptarSolicitudDeAmistad_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RechazarSolicitudDeAmistad">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioAmistades/RechazarSolicitudDeAmistad" message="tns:IServicioAmistades_RechazarSolicitudDeAmistad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioAmistades/RechazarSolicitudDeAmistadResponse" message="tns:IServicioAmistades_RechazarSolicitudDeAmistad_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExisteSolicitudDeAmistad">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioAmistades/ExisteSolicitudDeAmistad" message="tns:IServicioAmistades_ExisteSolicitudDeAmistad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioAmistades/ExisteSolicitudDeAmistadResponse" message="tns:IServicioAmistades_ExisteSolicitudDeAmistad_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExisteAmistadConJugador">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioAmistades/ExisteAmistadConJugador" message="tns:IServicioAmistades_ExisteAmistadConJugador_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioAmistades/ExisteAmistadConJugadorResponse" message="tns:IServicioAmistades_ExisteAmistadConJugador_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarAmistadEntreJugadores">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioAmistades/EliminarAmistadEntreJugadores" message="tns:IServicioAmistades_EliminarAmistadEntreJugadores_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioAmistades/EliminarAmistadEntreJugadoresResponse" message="tns:IServicioAmistades_EliminarAmistadEntreJugadores_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SuscribirJugadorANotificacionesAmistades">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioAmistades/SuscribirJugadorANotificacionesAmistades" message="tns:IServicioAmistades_SuscribirJugadorANotificacionesAmistades_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioAmistades/SuscribirJugadorANotificacionesAmistadesResponse" message="tns:IServicioAmistades_SuscribirJugadorANotificacionesAmistades_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DesuscribirJugadorDeNotificacionesAmistades">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioAmistades/DesuscribirJugadorDeNotificacionesAmistades" message="tns:IServicioAmistades_DesuscribirJugadorDeNotificacionesAmistades_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioAmistades/DesuscribirJugadorDeNotificacionesAmistadesResponse" message="tns:IServicioAmistades_DesuscribirJugadorDeNotificacionesAmistades_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EsJugadorSuscritoANotififacionesDeAmistades">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioAmistades/EsJugadorSuscritoANotififacionesDeAmistades" message="tns:IServicioAmistades_EsJugadorSuscritoANotififacionesDeAmistades_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioAmistades/EsJugadorSuscritoANotififacionesDeAmistadesResponse" message="tns:IServicioAmistades_EsJugadorSuscritoANotififacionesDeAmistades_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotificarSolicitudAmistadEnviada">
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioAmistades/NotificarSolicitudAmistadEnviada" message="tns:IServicioAmistades_NotificarSolicitudAmistadEnviada_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotificarSolicitudAmistadAceptada">
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioAmistades/NotificarSolicitudAmistadAceptada" message="tns:IServicioAmistades_NotificarSolicitudAmistadAceptada_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotificarAmistadEliminada">
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioAmistades/NotificarAmistadEliminada" message="tns:IServicioAmistades_NotificarAmistadEliminada_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotificarEstadoConectividadDeJugador">
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioAmistades/NotificarEstadoConectividadDeJugador" message="tns:IServicioAmistades_NotificarEstadoConectividadDeJugador_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IServicioJugador">
    <wsdl:operation name="Registrar">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioJugador/Registrar" message="tns:IServicioJugador_Registrar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioJugador/RegistrarResponse" message="tns:IServicioJugador_Registrar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExisteCorreoElectronico">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioJugador/ExisteCorreoElectronico" message="tns:IServicioJugador_ExisteCorreoElectronico_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioJugador/ExisteCorreoElectronicoResponse" message="tns:IServicioJugador_ExisteCorreoElectronico_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExisteNombreJugador">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioJugador/ExisteNombreJugador" message="tns:IServicioJugador_ExisteNombreJugador_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioJugador/ExisteNombreJugadorResponse" message="tns:IServicioJugador_ExisteNombreJugador_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IniciarSesion">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioJugador/IniciarSesion" message="tns:IServicioJugador_IniciarSesion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioJugador/IniciarSesionResponse" message="tns:IServicioJugador_IniciarSesion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CerrarSesion">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioJugador/CerrarSesion" message="tns:IServicioJugador_CerrarSesion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioJugador/CerrarSesionResponse" message="tns:IServicioJugador_CerrarSesion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviarMensajeCorreo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioJugador/EnviarMensajeCorreo" message="tns:IServicioJugador_EnviarMensajeCorreo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioJugador/EnviarMensajeCorreoResponse" message="tns:IServicioJugador_EnviarMensajeCorreo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerNumeroPartidasJugadas">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioJugador/ObtenerNumeroPartidasJugadas" message="tns:IServicioJugador_ObtenerNumeroPartidasJugadas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioJugador/ObtenerNumeroPartidasJugadasResponse" message="tns:IServicioJugador_ObtenerNumeroPartidasJugadas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerNumeroPartidasGanadas">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioJugador/ObtenerNumeroPartidasGanadas" message="tns:IServicioJugador_ObtenerNumeroPartidasGanadas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioJugador/ObtenerNumeroPartidasGanadasResponse" message="tns:IServicioJugador_ObtenerNumeroPartidasGanadas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarInformacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioJugador/ActualizarInformacion" message="tns:IServicioJugador_ActualizarInformacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioJugador/ActualizarInformacionResponse" message="tns:IServicioJugador_ActualizarInformacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarContrasena">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioJugador/ActualizarContrasena" message="tns:IServicioJugador_ActualizarContrasena_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioJugador/ActualizarContrasenaResponse" message="tns:IServicioJugador_ActualizarContrasena_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IServicioPartida">
    <wsdl:operation name="CrearNuevaPartida">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioPartida/CrearNuevaPartida" message="tns:IServicioPartida_CrearNuevaPartida_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioPartida/CrearNuevaPartidaResponse" message="tns:IServicioPartida_CrearNuevaPartida_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IniciarPartida">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioPartida/IniciarPartida" message="tns:IServicioPartida_IniciarPartida_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioPartida/IniciarPartidaResponse" message="tns:IServicioPartida_IniciarPartida_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FinalizarPartida">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioPartida/FinalizarPartida" message="tns:IServicioPartida_FinalizarPartida_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioPartida/FinalizarPartidaResponse" message="tns:IServicioPartida_FinalizarPartida_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GenerarTablero">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioPartida/GenerarTablero" message="tns:IServicioPartida_GenerarTablero_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioPartida/GenerarTableroResponse" message="tns:IServicioPartida_GenerarTablero_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MoverPiezaPosicionX">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioPartida/MoverPiezaPosicionX" message="tns:IServicioPartida_MoverPiezaPosicionX_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioPartida/MoverPiezaPosicionXResponse" message="tns:IServicioPartida_MoverPiezaPosicionX_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MoverPiezaPosicionY">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioPartida/MoverPiezaPosicionY" message="tns:IServicioPartida_MoverPiezaPosicionY_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioPartida/MoverPiezaPosicionYResponse" message="tns:IServicioPartida_MoverPiezaPosicionY_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotificarJugadorPreparado">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioPartida/NotificarJugadorPreparado" message="tns:IServicioPartida_NotificarJugadorPreparado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioPartida/NotificarJugadorPreparadoResponse" message="tns:IServicioPartida_NotificarJugadorPreparado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExpulsarJugadorPartida">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioPartida/ExpulsarJugadorPartida" message="tns:IServicioPartida_ExpulsarJugadorPartida_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioPartida/ExpulsarJugadorPartidaResponse" message="tns:IServicioPartida_ExpulsarJugadorPartida_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RefrescarMovimientoPieza">
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioPartida/RefrescarMovimientoPieza" message="tns:IServicioPartida_RefrescarMovimientoPieza_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="PosicionarPiezaEnCelda">
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioPartida/PosicionarPiezaEnCelda" message="tns:IServicioPartida_PosicionarPiezaEnCelda_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IServicioSala">
    <wsdl:operation name="CrearNuevaSala">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioSala/CrearNuevaSala" message="tns:IServicioSala_CrearNuevaSala_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioSala/CrearNuevaSalaResponse" message="tns:IServicioSala_CrearNuevaSala_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConectarCuentaJugadorASala">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioSala/ConectarCuentaJugadorASala" message="tns:IServicioSala_ConectarCuentaJugadorASala_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioSala/ConectarCuentaJugadorASalaResponse" message="tns:IServicioSala_ConectarCuentaJugadorASala_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DesconectarCuentaJugadorDeSala">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioSala/DesconectarCuentaJugadorDeSala" message="tns:IServicioSala_DesconectarCuentaJugadorDeSala_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioSala/DesconectarCuentaJugadorDeSalaResponse" message="tns:IServicioSala_DesconectarCuentaJugadorDeSala_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerJugadoresConectadosEnSala">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioSala/ObtenerJugadoresConectadosEnSala" message="tns:IServicioSala_ObtenerJugadoresConectadosEnSala_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioSala/ObtenerJugadoresConectadosEnSalaResponse" message="tns:IServicioSala_ObtenerJugadoresConectadosEnSala_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviarMensajeDeSala">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioSala/EnviarMensajeDeSala" message="tns:IServicioSala_EnviarMensajeDeSala_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GenerarCodigoParaNuevaSala">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioSala/GenerarCodigoParaNuevaSala" message="tns:IServicioSala_GenerarCodigoParaNuevaSala_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioSala/GenerarCodigoParaNuevaSalaResponse" message="tns:IServicioSala_GenerarCodigoParaNuevaSala_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExisteSalaDisponible">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioSala/ExisteSalaDisponible" message="tns:IServicioSala_ExisteSalaDisponible_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioSala/ExisteSalaDisponibleResponse" message="tns:IServicioSala_ExisteSalaDisponible_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MostrarMensajeDeSala">
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioSala/MostrarMensajeDeSala" message="tns:IServicioSala_MostrarMensajeDeSala_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotificarNuevoJugadorConectadoEnSala">
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioSala/NotificarNuevoJugadorConectadoEnSala" message="tns:IServicioSala_NotificarNuevoJugadorConectadoEnSala_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotificarJugadorDesconectadoDeSala">
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioSala/NotificarJugadorDesconectadoDeSala" message="tns:IServicioSala_NotificarJugadorDesconectadoDeSala_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IServicioAmistades" type="tns:IServicioAmistades">
    <wsp:PolicyReference URI="#NetTcpBinding_IServicioAmistades_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="ObtenerJugadoresConSolicitudPendiente">
      <soap12:operation soapAction="http://tempuri.org/IServicioAmistades/ObtenerJugadoresConSolicitudPendiente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerAmigosDeJugador">
      <soap12:operation soapAction="http://tempuri.org/IServicioAmistades/ObtenerAmigosDeJugador" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarSolicitudDeAmistad">
      <soap12:operation soapAction="http://tempuri.org/IServicioAmistades/EnviarSolicitudDeAmistad" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AceptarSolicitudDeAmistad">
      <soap12:operation soapAction="http://tempuri.org/IServicioAmistades/AceptarSolicitudDeAmistad" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RechazarSolicitudDeAmistad">
      <soap12:operation soapAction="http://tempuri.org/IServicioAmistades/RechazarSolicitudDeAmistad" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExisteSolicitudDeAmistad">
      <soap12:operation soapAction="http://tempuri.org/IServicioAmistades/ExisteSolicitudDeAmistad" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExisteAmistadConJugador">
      <soap12:operation soapAction="http://tempuri.org/IServicioAmistades/ExisteAmistadConJugador" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarAmistadEntreJugadores">
      <soap12:operation soapAction="http://tempuri.org/IServicioAmistades/EliminarAmistadEntreJugadores" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SuscribirJugadorANotificacionesAmistades">
      <soap12:operation soapAction="http://tempuri.org/IServicioAmistades/SuscribirJugadorANotificacionesAmistades" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DesuscribirJugadorDeNotificacionesAmistades">
      <soap12:operation soapAction="http://tempuri.org/IServicioAmistades/DesuscribirJugadorDeNotificacionesAmistades" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EsJugadorSuscritoANotififacionesDeAmistades">
      <soap12:operation soapAction="http://tempuri.org/IServicioAmistades/EsJugadorSuscritoANotififacionesDeAmistades" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotificarSolicitudAmistadEnviada">
      <soap12:operation soapAction="http://tempuri.org/IServicioAmistades/NotificarSolicitudAmistadEnviada" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotificarSolicitudAmistadAceptada">
      <soap12:operation soapAction="http://tempuri.org/IServicioAmistades/NotificarSolicitudAmistadAceptada" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotificarAmistadEliminada">
      <soap12:operation soapAction="http://tempuri.org/IServicioAmistades/NotificarAmistadEliminada" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotificarEstadoConectividadDeJugador">
      <soap12:operation soapAction="http://tempuri.org/IServicioAmistades/NotificarEstadoConectividadDeJugador" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IServicioJugador" type="tns:IServicioJugador">
    <wsp:PolicyReference URI="#NetTcpBinding_IServicioJugador_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Registrar">
      <soap12:operation soapAction="http://tempuri.org/IServicioJugador/Registrar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExisteCorreoElectronico">
      <soap12:operation soapAction="http://tempuri.org/IServicioJugador/ExisteCorreoElectronico" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExisteNombreJugador">
      <soap12:operation soapAction="http://tempuri.org/IServicioJugador/ExisteNombreJugador" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IniciarSesion">
      <soap12:operation soapAction="http://tempuri.org/IServicioJugador/IniciarSesion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CerrarSesion">
      <soap12:operation soapAction="http://tempuri.org/IServicioJugador/CerrarSesion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarMensajeCorreo">
      <soap12:operation soapAction="http://tempuri.org/IServicioJugador/EnviarMensajeCorreo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerNumeroPartidasJugadas">
      <soap12:operation soapAction="http://tempuri.org/IServicioJugador/ObtenerNumeroPartidasJugadas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerNumeroPartidasGanadas">
      <soap12:operation soapAction="http://tempuri.org/IServicioJugador/ObtenerNumeroPartidasGanadas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarInformacion">
      <soap12:operation soapAction="http://tempuri.org/IServicioJugador/ActualizarInformacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarContrasena">
      <soap12:operation soapAction="http://tempuri.org/IServicioJugador/ActualizarContrasena" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IServicioPartida" type="tns:IServicioPartida">
    <wsp:PolicyReference URI="#NetTcpBinding_IServicioPartida_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="CrearNuevaPartida">
      <soap12:operation soapAction="http://tempuri.org/IServicioPartida/CrearNuevaPartida" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IniciarPartida">
      <soap12:operation soapAction="http://tempuri.org/IServicioPartida/IniciarPartida" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FinalizarPartida">
      <soap12:operation soapAction="http://tempuri.org/IServicioPartida/FinalizarPartida" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerarTablero">
      <soap12:operation soapAction="http://tempuri.org/IServicioPartida/GenerarTablero" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MoverPiezaPosicionX">
      <soap12:operation soapAction="http://tempuri.org/IServicioPartida/MoverPiezaPosicionX" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MoverPiezaPosicionY">
      <soap12:operation soapAction="http://tempuri.org/IServicioPartida/MoverPiezaPosicionY" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotificarJugadorPreparado">
      <soap12:operation soapAction="http://tempuri.org/IServicioPartida/NotificarJugadorPreparado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExpulsarJugadorPartida">
      <soap12:operation soapAction="http://tempuri.org/IServicioPartida/ExpulsarJugadorPartida" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RefrescarMovimientoPieza">
      <soap12:operation soapAction="http://tempuri.org/IServicioPartida/RefrescarMovimientoPieza" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PosicionarPiezaEnCelda">
      <soap12:operation soapAction="http://tempuri.org/IServicioPartida/PosicionarPiezaEnCelda" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IServicioSala" type="tns:IServicioSala">
    <wsp:PolicyReference URI="#NetTcpBinding_IServicioSala_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="CrearNuevaSala">
      <soap12:operation soapAction="http://tempuri.org/IServicioSala/CrearNuevaSala" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConectarCuentaJugadorASala">
      <soap12:operation soapAction="http://tempuri.org/IServicioSala/ConectarCuentaJugadorASala" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DesconectarCuentaJugadorDeSala">
      <soap12:operation soapAction="http://tempuri.org/IServicioSala/DesconectarCuentaJugadorDeSala" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerJugadoresConectadosEnSala">
      <soap12:operation soapAction="http://tempuri.org/IServicioSala/ObtenerJugadoresConectadosEnSala" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarMensajeDeSala">
      <soap12:operation soapAction="http://tempuri.org/IServicioSala/EnviarMensajeDeSala" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GenerarCodigoParaNuevaSala">
      <soap12:operation soapAction="http://tempuri.org/IServicioSala/GenerarCodigoParaNuevaSala" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExisteSalaDisponible">
      <soap12:operation soapAction="http://tempuri.org/IServicioSala/ExisteSalaDisponible" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MostrarMensajeDeSala">
      <soap12:operation soapAction="http://tempuri.org/IServicioSala/MostrarMensajeDeSala" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotificarNuevoJugadorConectadoEnSala">
      <soap12:operation soapAction="http://tempuri.org/IServicioSala/NotificarNuevoJugadorConectadoEnSala" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotificarJugadorDesconectadoDeSala">
      <soap12:operation soapAction="http://tempuri.org/IServicioSala/NotificarJugadorDesconectadoDeSala" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioRompecabezasFei">
    <wsdl:port name="NetTcpBinding_IServicioAmistades" binding="tns:NetTcpBinding_IServicioAmistades">
      <soap12:address location="net.tcp://localhost:9000/Contratos" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:9000/Contratos</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IServicioJugador" binding="tns:NetTcpBinding_IServicioJugador">
      <soap12:address location="net.tcp://localhost:9000/Contratos" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:9000/Contratos</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IServicioPartida" binding="tns:NetTcpBinding_IServicioPartida">
      <soap12:address location="net.tcp://localhost:9000/Contratos" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:9000/Contratos</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IServicioSala" binding="tns:NetTcpBinding_IServicioSala">
      <soap12:address location="net.tcp://localhost:9000/Contratos" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:9000/Contratos</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>